.app {
  min-height: 100vh;

  .error {
    font-size: 37px;
    text-align: center;
    color: black;
  }

  .no-query {
    font-size: 37px;
    text-align: center;
    color: black;
  }
}

#dark {
  background-color: rgb(2, 7, 30);

  .switch {
    .react-switch-bg {
      background: rgb(94 109 122) !important;
    }

    svg {
      display: none;
    }

    label {
      font-weight: bolder;
      margin: 10px;
      color: #fff;
    }
  }
}

#light {
  background-color: antiquewhite;

  .switch {
    svg {
      display: none;
    }

    label {
      font-weight: bolder;
      margin: 10px;
      color: black;
    }
  }
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;

  label {
    font-weight: bolder;
    margin: 10px;
    color: black;
  }
}
