.navbar-wrapper {
  display: flex;
  z-index: 2147483647;
  height: 100px;
  width: 100%;
  background-color: rgb(79 169 255 / 17%);
  font-weight: 1.1em;
  top: 0;
  background-image: url('../assets/images/navigation-background.png');
  background-repeat: no-repeat;
  background-size: cover;

  .nav-link {
    display: flex;
    color: #39609b;
    font-weight: 700;
    width: 250px;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 0px;
    text-decoration: none;
    font-size: 30px;

    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: translate(2px, 2px);
    }
    &.active {
      border-bottom: 5px solid #39609b;
    }
  }

  h1 {
    color: #39609b;
    font-weight: 700;
    font-size: 2em;
    margin-right: auto;
    margin-left: 20px;
    align-self: center;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
